<div>
	            <h2 style='font-size:120px;text-align:center; position:relative; top: 50px;'>Door Lock</h2>
               <div align="center">
                 <p align:center; style="color=blue; font-size:60px;">Status : {{status}}</p>
                <p align:center;><iframe x style='float:bottom;position:relative;top:30px;height:500px; width:70%' src={{webcam_url}}></iframe></p>
                </div>
	            <p style='text-align:center;'>
		        <a style='font-size:100px; text-decoration:none; text-align:center; position:relative;top:100px;' href='/unlock'>Unlock</a><br><br>
				<a style='font-size:100px; text-decoration:none; text-align:center; position:relative;top:150px;' href='/lock'>Lock</a>
	            <p>
    </div>